@font-face {
  font-family: myFirstFont;
  src: url("../../assets/fonts/moon_light.otf")
}

@font-face {
  font-family: mySecondFont;
  src: url("../../assets/fonts/moon_bold.otf")
}

p {
  border:1px solid black;
  padding:0px;
  color:red;
}
body {

}

h1 {
  font-family: myFirstFont;
  background-color: white;
}

.inputContainer{
  width: 100%;
}

.cityInput{
  width: 75%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: myFirstFont;
  text-align: center;
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: myFirstFont;
  text-align: center;
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: myFirstFont;
  text-align: center;
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: myFirstFont;
  text-align: center;
  color: black;
}


.button{
  font-family: mySecondFont;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 5px;
  background-color: white;
}
.button:hover {
  color: lime;
  background-color: black;
  cursor: pointer;
}
#button-1 {
  display: inline-block;
  width: 50%;
  color: white;
  background-color: blue;
  text-align: center;
}
#button-2 {
  display: inline-block;
  width: 50%;
  color: white;
  background-color: red;
  text-align: center;
}
.weathermain{
  font-family: myFirstFont;
}
.weathertemperature{
  font-family: mySecondFont;
  display: inline-block;
}
.weatherdescription{
  display: inline-block;
  font-family: myFirstFont;
}
.weatherhumidity
{
  font-family: myFirstFont;
}

.appcontainer
{
  margin: 1px;
  text-align: center;
  display: inline-block;
  font-family: myFirstFont;
  background-image: url("https://i.pinimg.com/originals/49/e0/de/49e0de8fd2f80662cbc2f99809a11400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.Tokyocontainer
{
  width: 100%;
  margin: 1px;
  text-align: center;
  display: inline-block;
  font-family: myFirstFont;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;

}
